## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.ods#
*.cmd_log
*.lso
*.prj
*.syr
*.xst
*.html
*.xrpt
*.gise
*.xise
*.xml
*.bld
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.xpi
*.map
*.mrp
*.ncd
*.ngm
*.csv
*.ipf
*.ut
*.xwbt
*.bgn
*.bit
*.drc
*.debug
*.log
*.xsl
PipelineCPU_pad.txt

ALU_pad.txt


#Ignore these directories
_xmsgs
iseconfig
xst
_ngo
xlnx_auto_0_xdb
planAhead_run_2
planAhead_run_3
